@font-face 
{
    font-family: "DMSansRegular";
    src: url('../../font/DMSans-Regular.ttf') format('truetype');
}

*
{
    font-family: "DMSansRegular";
    scroll-behavior: smooth;
}

ul, li{
    list-style: none;
    margin-left: 0;
}

a{
    text-decoration: none;
}

.header__logo
{
width: 200px;
height: 50px;
left: 100px;
top: 42px;
}


.photograph__header
{
    width: 90%;
    height: 320px;
    margin-top: 60px;
    margin: auto;
    background: #FAFAFA;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex__details
{
    margin-top: 100px;
    max-width: 50%;
}

.flex__contact
{
    margin-top: 100px;
    margin-left: 50px;
}

.flex__img
{
    flex-grow: 1.5;

}

.card__image 
{
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: right;
    margin-right: 10px ;
    margin-top: 70px;
}

.contact__btn
{
    width: 170px;
    height: 69px;
    border-radius: 5px;
    background-color: #901C1C;
    color: #FAFAFA;
    font-size: 20px;
}

.contact__btn:hover
{
    background-color: #D3573C;
    color: black;
}

.card__taglist
{
    margin-left: -25px;
}

h3
{
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #D3573C;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.card__location
{
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    color: #901C1C;
}

.card__tagline
{
    font-size: 17px;
    line-height: 13px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #000000;
}

.card__price
{
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: #757575;
}

.card__taglist
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.tag
{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #911C1C;
    margin: 2px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    padding-left: 5px;
    padding-right: 5px;
}


/*filter section*/

.filter__section{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 10px;
}

.dropbtn {
    background-color: #901C1c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropOne{
      border-top-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 0;
      width: 160px;
  }

  
  .dropbtn:hover + .dropbtn {
    background-color: #D3573C;
    color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    height: 53px;
    margin-left: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1c;
    width: 156px;
    overflow: auto;
    margin-top: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .dropdown-content a {
    border-top: 2px solid white;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    display: block;
    width: 156px;
  }

  .dropdown__btn {
      width: 160px;
  }

  .droptext
  {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  
  .dropdown a:hover {background-color: #D3573C;
color: black;}

  .triger{
      height: 53px;
      width: 50px;
      position: absolute;
    font-size: 24px;
    margin-top: -16px;
  }

  .triger__content
  {
    color: white;
    text-align: center;
    transform: rotate(90deg);
    margin-top: -5px;
    display: block;
  }

  
  .show {
      display: block;
    margin-top: 10px;
  }

/*Galery section*/

#galery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.galery__card
{
    width: 350px;
    height: 350px;
    margin: 20px;
}

.galery__card--image{
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.galery__card--video{
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.galery__card--details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galery__card--details2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.galery__card--text{
    font-size: 18px;
    color: #901C1C;
    margin: 10px;
}

.number__likes
{
  height: 23px;
  text-align: center;
}

.like
{
  height: 23px;
  width: auto;
  margin-left: 5px;
}

/*bottom page*/

.bottom__page{
  width: 356px;
  height: auto;
  position: fixed;
  right: 20px;
  bottom: 0;
  background: #DB8876;
  border-radius: 5px; 
}

.bottom__flex
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom__likes,
.bottom__price{
  font-size: 24px;
  color: black;
  padding: 15px;
  margin-right: 5px;
}

.bottom__heart{
  height: 30px;
  margin-left: -70px;
}

/*contact form*/
.modal-btn {
    font-size: 145%;
    background: #901C1C;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .modal-btn:hover {
    background: #D3573C;
  }
  
  .footer {
    margin: 20px;
    padding: 10px;
    font-family: var(--font-slab);
  }
  
  /* Modal form */

  #modal__title{
      color: black;
      text-align: left;
      margin-left: 40px;
  }
  
  .button {
    background: #901C1C;
    margin-top: 0.5em;
    padding: 1em;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background: #D3573C;
    color: black;
  }
  
  .smFont {
    font-size: 16px;
  }
  
  #bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(89, 90, 97, 0.4);
  }
  
  .form__sent{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(89, 90, 97, 0.4);
  }
  
  .content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #DB8876;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #000;
    padding-top: 10px;
  }

  
  .modal-body {
    padding: 15px 8%;
    margin: 15px auto;
  }
  
  label {
    font-family: var(--font-default);
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
  }
  input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }
  .text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
  }

  #message
  {
      height: 150px;
  }
  .formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
  }
  
  input[data-error]::after {
      content: attr(data-error);
      font-size: 0.4em;
      color: red;
  } 
  
  .tooltip
  {
    display: none;
    font-size: 12px;
    color: #901C1C;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .close,
  .close2{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  .close:before,
  .close:after,
  .close2:before,
  .close2:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
  }
  .close:before,
  .close2:before {
    transform: rotate(45deg);
  }
  .close:after,
  .close2:after {
    transform: rotate(-45deg);
  }
  .btn-submit,
  .btn-close,
  .btn-signup {
    background: #901C1C;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
  }
  
  .btn-close
  {
    margin-top: 200px;
    margin-bottom: 10px;
  }

  .icon{
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  
  /*validation message*/
  #validationMsg
  {
    font-size: 1.6em;
    margin: 20px;
    margin-top: 20px;
    display:inline-block;
    text-align: center;
  }
  .fa-check-circle
  {
    color: rgb(26, 75, 58);
    font-size: 3em;
    text-align: center!important;
    margin-top: 30px;
  }
  
  .iconValidMsg
  {
    display: block;
    text-align: center;
  }

@media only screen and (max-width: 866px) {
    .photograph__header
    {
        display: block;
        height: auto;
        background-color: white;
        margin-top: -70px;
    }

    .contact__btn
    {
        position: fixed;
        z-index: 3;
        left: 25%;
        bottom: 15px;
        width: 50%;
        height: 35px;
    }

    .card__image{
        margin-top: 10px;
    }

    .bottom__page{
        display: none;
    }
}

  @media only screen and (max-width: 550px)
  {
      .header__logo{
          margin-top: 20px;
          margin-left: 20px;
      }
    .photograph__header
    {
      display: block;
      height: auto;
      background-color: white;
      margin-top: -70px;
    }

    .flex__details
    {
        max-width: 100%;
    }

    .card__taglist{
        margin-top: 30px;
        margin-left: -30px;
    }

    .card__image
    {
      float: right;
      width: 100px;
      height: 100px;
      margin-top: 10px;
    }

    .card__location
    {
        font-size: 15px;
    }

    .card__tagline
    {
        color: grey;
        font-size: 15px;
        margin-top: 10px;
    }

    .card__price
    {
        display: none;
    }

    .card__number
    {
        display: none;
    }

    .filter__section
    {
        display: none;
    }

    .contact__btn
    {
      position: fixed;
      z-index: 3;
      left: 25%;
      bottom: 15px;
      width: 50%;
      height: 35px;
    }

    .flex__details
    {
      margin-top: 10px;
    }

    .flex__details, .card__name, .card__location, .card__tagline, .card__price
    {
      text-align: left;
    }
    
    .card__taglist
    {
      justify-content: start;
    }

    .bottom__page{
      display: none;
    }
  }