@font-face 
{
    font-family: "DMSansRegular";
    src: url('../font/DMSans-Regular.ttf') format('truetype');
}

*
{
    font-family: "DMSansRegular";
}

a
{
    text-decoration: none;
    color: black;
}

ul, li{
    list-style: none;
}

/*.checkbox{
    display: none;
}

/*HEADER*/

header
{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo
{
width: 200px;
height: 50px;
left: 100px;
top: 42px;

}

#header__filters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*MAIN*/

h1
{
    width: 25%;
    position:absolute;
    margin-left: 10px;
    top: -10px;
    right: 5px;
    font-size: 36px;
    line-height: 47px;
    color: #911C1C;
}

.photographer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card
{
    width: 30%;
    min-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__image 
{
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.card__taglist
{
    margin-left: -25px;
}

h3
{
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #D3573C;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.card__location
{
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    color: #901C1C;
}

.card__tagline
{
    font-size: 17px;
    line-height: 13px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    color: #000000;
}

.card__price
{
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: #757575;
}

.card__taglist
{
    display: flex;
    justify-content: center;
}

.tag,
.header__filter
{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #911C1C;
    margin: 2px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    padding-left: 5px;
    padding-right: 5px;
}

.header__filter:hover
{
    color: blanchedalmond;
    background-color: #901C1C;
}

@media only screen and (max-width: 450px)
{
    .header__logo
    {
        width: 170px;
    }

    main > h1
    {
        font-size: 14px;
        margin-top: 15px;
        width: 150px;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-self: center;
        width: 170px;
    }

    #header__filters
    {
        width: 350px;
        margin-left: -10px;
        justify-content: center;
    }

    .card
    {
        min-width: 250px;
    }
}